
        <td>
{%- assign include_cdata = site.data.cask[include.data_token] -%}
{%- if include_cdata != nil -%}
            <a href="{{ site.baseurl }}/cask/{{ include.token | uri_escape }}">{{ include.token | escape }}</a></td>
        <td>{{ include_cdata.version | truncate: 25 | escape }}</td>
        <td>{{ include_cdata.desc | escape }}</td>
        <td>{{ include_cdata.name.first | escape }}
{%- else -%}
            {{ include.token | escape }}</td>
        <td></td>
        <td></td>
        <td>
{%- endif -%}
        </td>
