{%- if include.formulae.size > 0 %}
<p>{{ include.description }}:</p>
<table>
    {%- for full_name in include.formulae -%}
    <tr>
        {%- assign data_name = full_name | remove: "@" | remove: "." | replace: "+", "_" -%}
        {%- assign formula = site.data.formula[data_name] -%}
        {%- unless formula -%}
            {%- assign data_name = site.data.formula_canonical[full_name] | remove: "@" | remove: "." | replace: "+", "_" -%}
            {%- assign formula = site.data.formula[data_name] -%}
        {%- endunless -%}
        {%- include formula.html formula=formula -%}
    </tr>
    {%- endfor -%}
</table>
{%- endif -%}
