
        <td><a href="{{ site.baseurl }}/formula/{{ include.formula.name | uri_escape }}"
            {%- if include.formula.disabled %} class="disabled" title="This formula has been disabled"
            {%- elsif include.formula.deprecated %} class="deprecated" title="This formula has been deprecated"
            {%- endif -%}
            >{{ include.formula.name | escape }}</a></td>
        <td>{{ include.formula.versions.stable | escape }}</td>
        <td>{{ include.formula.desc | escape }}</td>
