{%- capture code -%}
brew {{include.modifier}} install {{include.item}}
{%- endcapture -%}

<style>
    .inline {
        display: inline-flex;
    }

    #copyButton {
        background: transparent;
        border: none;
    }
</style>

Install command:
<div class="inline">
    {% highlight bash %}
    $ {{code}}
    {% endhighlight %}
</div>
<button
    id="copyButton"
    aria-label="Copy to clipboard"
    style="visibility: hidden"
    onclick="navigator.clipboard.writeText('{{code}}')"
>
    📋
</button>

<script>
    if (navigator.clipboard) {
        document
            .getElementById("copyButton")
            .style.removeProperty("visibility");
    }
</script>
