{%- capture code -%}
brew {{include.modifier}} install {{include.item}}
{%- endcapture -%}

<style>
    .inline {
        display: inline-flex;
    }

    #copyButton {
        background: transparent;
        border: none;
    }
</style>

Install command:
<pre class="inline">
    <code>{{code}}</code>
</pre>
<button
    id="copyButton"
    aria-label="Copy to clipboard"
    style="visibility: hidden"
    onclick="navigator.clipboard.writeText('{{code}}')"
>
    📋
</button>

<script>
    if (navigator.clipboard) {
        document
            .getElementById("copyButton")
            .style.removeProperty("visibility");
    }
</script>
