<form id="newsletter"
action="https://buttondown.email/api/emails/embed-subscribe/homebrew" method="post"
target="popupwindow"
  onsubmit="const popup = window.open('https://buttondown.email/homebrew', 'popupwindow'); if (popup) popup.opener = null;"
  class="embeddable-buttondown-form">
  <h3>Subscribe to be notified about new posts</h3>
  <label class="hidden" for="bd-email">Email</label>
  <input type="email" name="email" id="bd-email" placeholder="Email address" />

  <input id="newsletter-submit" type="submit" value="Subscribe" />
</form>
