@media screen and (max-width: 700px) {
  table.no-stack {
    width: 100%;
  }

  table.no-stack tr {
    display: table-row;
    padding: 0;
  }

  table.no-stack th,
  table.no-stack td {
    display: table-cell;
    text-align: left;
    max-width: none;
  }

  table.no-stack .number-data {
    text-align: right;
  }
}
