---
layout: base
---
{%- assign analytics_path = page.dir | split: "/" -%}
{%- assign analytics_path = analytics_path[1] -%}
{%- assign analytics_data = site.data[analytics_path][page.category][page.days] -%}
<h2>{{ page.category_pretty }} Events ({{ page.days | split: "d" | first }} days)</h2>

<h3><a href="{{ site.baseurl }}/api/{{ analytics_path }}/{{ page.category }}/{{ page.days }}.json"><code>/api/{{ analytics_path }}/{{ page.category }}/{{ page.days }}.json</code> (JSON API)</a></h3>

<h4>Start Date: {{ analytics_data.start_date }}</h4>
<h4>Total Events: {{ analytics_data.total_count }}</h4>

<table class="full-width">
    <tr>
        <th></th>
        <th>
{%- case page.category -%}
    {%- when "os-version" -%}
            Version
    {%- when "homebrew-devcmdrun-developer" -%}
            Configuration
    {%- when "homebrew-os-arch-ci" -%}
            Setup
    {%- when "homebrew-prefixes" -%}
            Prefix
    {%- when "homebrew-versions" -%}
            Version
    {%- when "brew-command-run" -%}
            Command
    {%- when "brew-command-run-options" -%}
            Command
    {%- when "brew-test-bot-test" -%}
            Command
    {%- when "cask-install" -%}
            Cask
    {%- else -%}
            Formula
{%- endcase -%}
        </th>
        <th>Events</th>
        <th>%</th>
    </tr>
{%- for item in analytics_data.items -%}
    <tr>
        <td class="number-data">#{{ item.number }}</td>
        <td>
    {%- case page.category -%}
        {%- when "os-version" -%}
                <code>{{ item.os_version | escape }}</code>
        {%- when "homebrew-devcmdrun-developer" -%}
                <code>{{ item.devcmdrun_developer | escape }}</code>
        {%- when "homebrew-os-arch-ci" -%}
                <code>{{ item.os_arch_ci | escape }}</code>
        {%- when "homebrew-prefixes" -%}
                <code>{{ item.prefix | escape }}</code>
        {%- when "homebrew-versions" -%}
                <code>{{ item.version | escape }}</code>
        {%- when "brew-command-run" -%}
                <code>{{ item.command_run | escape }}</code>
        {%- when "brew-command-run-options" -%}
                <code>{{ item.command_run_options | escape }}</code>
        {%- when "brew-test-bot-test" -%}
                <code>{{ item.test_bot_test | escape }}</code>
        {%- when "cask-install" -%}
            {%- assign data_token = item.cask | remove: "@" | remove: "." | replace: "+", "_" -%}
            {%- assign cdata = site.data.cask[data_token] -%}
            {%- if cdata and cdata.token == item.cask -%}
                <a href="{{ site.baseurl }}/cask/{{ item.cask | uri_escape }}"><code>{{ item.cask | escape }}</code></a>
            {%- else -%}
                <code>{{ item.cask | escape }}</code>
            {%- endif -%}
        {%- else -%}
            {%- assign fname = item.formula | split: " " | first -%}
            {%- assign data_fname = fname | remove: "@" | remove: "." | replace: "+", "_" -%}
            {%- assign fdata = site.data.formula[data_fname] -%}
            {%- if fdata and fdata.name == fname -%}
                <a href="{{ site.baseurl }}/formula/{{ fname | uri_escape }}"><code>{{ item.formula | escape }}</code></a>
            {%- else -%}
                <code>{{ item.formula | escape }}</code>
            {%- endif -%}
    {%- endcase -%}
        </td>
        <td class="number-data">{{ item.count }}</td>
        <td class="number-data">{{ item.percent }}%</td>
    </tr>
{%- endfor %}
</table>
