---
layout: base
---
{%- assign analytics_path = page.dir | split: "/" -%}
{%- assign analytics_path = analytics_path[1] -%}
{%- if analytics_path == "analytics-linux" -%}
{%- assign formula_path = "formula-linux" -%}
{%- else -%}
{%- assign formula_path = "formula" -%}
{%- endif -%}
{%- assign json = site.data[analytics_path][page.category][page.days] -%}
<h2>{{ page.category_pretty }} Events</h2>

<h3><a href="{{ site.baseurl }}/api/{{ analytics_path }}/{{ page.category }}/{{ page.days}}.json"><code>/api/{{ analytics_path }}/{{ page.category }}/{{ page.days}}.json</code> (JSON API)</a></h3>

<table class="full-width">
  <tr>
    <th></th>
    <th>{% case page.category %}{% when "os-version" %}Version{% when "cask-install" %}Cask{% else %}Formula{% endcase %}</th>
    <th>Events</th>
    <th>%</th>
  </tr>
{% for item in json.items %}
  <tr>
    <td class="number-data">#{{ item.number }}</td>
    <td>
    {%- if page.category == "os-version" -%}
      <code>{{ item.os_version }}</code>
    {%- elsif page.category == "cask-install" -%}
      {%- if site.data.cask[item.cask] != nil -%}
        <a href="{{ site.baseurl }}/cask/{{ item.cask }}">
          <code>{{ item.cask }}</code>
        </a>
      {%- else -%}
        <code>{{ item.cask }}</code>
      {%- endif -%}
    {%- else -%}
      {%- assign name = item.formula | split: " " | first -%}
      {%- assign data_name = name | remove: "@" | remove: "." | replace: "+", "_" -%}
      {%- assign formula_data = site.data[formula_path][data_name] -%}
      {%- if name == formula_data.name -%}
        <a href="{{ site.baseurl }}/{{ formula_path }}/{{ name }}">
          <code>{{ item.formula }}</code>
        </a>
      {%- else -%}
        <code>{{ item.formula }}</code>
      {%- endif -%}
    {%- endif -%}
    </td>
    <td class="number-data">{{ item.count }}</td>
    <td class="number-data">{{ item.percent }}%</td>
  </tr>
{% endfor %}
</table>
