---
layout: base
---
{%- assign analytics_path = page.dir | split: "/" -%}
{%- assign analytics_path = analytics_path[1] -%}
{%- assign analytics_data = site.data[analytics_path][page.category][page.days] -%}
<h2>{{ page.category_pretty }} Events ({{ page.days | split: "d" | first }} days)</h2>

<h3><a href="{{ site.baseurl }}/api/{{ analytics_path }}/{{ page.category }}/{{ page.days }}.json"><code>/api/{{ analytics_path }}/{{ page.category }}/{{ page.days }}.json</code> (JSON API)</a></h3>

<h4>Start Date: {{ analytics_data.start_date }}</h4>
<h4>Total Events: {{ analytics_data.total_count }}</h4>

<table class="full-width">
    <tr>
        <th></th>
        <th>
{%- case page.category -%}
    {%- when "os-version" -%}
            Version
    {%- when "homebrew-devcmdrun-developer" -%}
            Configuration
    {%- when "homebrew-os-arch-ci" -%}
            Setup
    {%- when "homebrew-prefixes" -%}
            Prefix
    {%- when "homebrew-versions" -%}
            Version
    {%- when "cask-install" -%}
            Cask
    {%- else -%}
            Formula
{%- endcase -%}
        </th>
        <th>Events</th>
        <th>%</th>
    </tr>
{%- for item in analytics_data.items -%}
    <tr>
        <td class="number-data">#{{ item.number }}</td>
        <td>
    {%- if page.category == "os-version" -%}
            <code>{{ item.os_version }}</code>
    {%- elsif page.category == "homebrew-devcmdrun-developer" -%}
            <code>{{ item.devcmdrun_developer }}</code>
    {%- elsif page.category == "homebrew-os-arch-ci" -%}
            <code>{{ item.os_arch_ci }}</code>
    {%- elsif page.category == "homebrew-prefixes" -%}
            <code>{{ item.prefix }}</code>
    {%- elsif page.category == "homebrew-versions" -%}
            <code>{{ item.version }}</code>
    {%- elsif page.category == "cask-install" -%}
        {%- if site.data.cask[item.cask] != nil -%}
            <a href="{{ site.baseurl }}/cask/{{ item.cask }}"><code>{{ item.cask }}</code></a>
        {%- else -%}
            <code>{{ item.cask }}</code>
        {%- endif -%}
    {%- else -%}
        {%- assign full_name = item.formula | split: " " | first -%}
        {%- assign data_name = full_name | remove: "@" | remove: "." | replace: "+", "_" -%}
        {%- assign formula = site.data.formula[data_name] -%}
        {%- if full_name == formula.name -%}
            <a href="{{ site.baseurl }}/formula/{{ full_name }}"><code>{{ item.formula | escape }}</code></a>
        {%- else -%}
            <code>{{ item.formula | escape }}</code>
        {%- endif -%}
    {%- endif -%}
        </td>
        <td class="number-data">{{ item.count }}</td>
        <td class="number-data">{{ item.percent }}%</td>
    </tr>
{%- endfor %}
</table>
