---
layout: default
permalink: :title
---
{%- assign token = page.title -%}
{%- assign formula_path = "formula" -%}
{%- assign c = site.data.cask[token] -%}
<h2>{{ token }}</h2>
<p>
    Name{%- if c.name.size > 1 -%}s{%- endif -%}:
    {% for name in c.name %}
        <strong>{{ name }}</strong>
        {%- unless forloop.last -%}, {% endunless %}
    {%- endfor -%}
</p>
<p>
    <a href="{{ c.homepage }}">{{ c.homepage }}</a>
</p>

<p><a href="{{ site.baseurl }}/api/cask/{{ token }}.json"><code>/api/cask/{{ token }}.json</code> (JSON API)</a></p>
<p><a target="_blank" href="https://github.com/Homebrew/homebrew-cask/blob/master/Casks/{{ token }}.rb">Cask code</a> on GitHub</p>

<p>Current version: <a href="{{ c.url }}">{{ c.version }}</a></p>

{%- include casks.html casks=c.depends_on.cask description="Depends on casks" -%}
{%- assign depends_on_formula = c.depends_on.formula | where_exp: "f", "site.data.formula[f]" -%}
{%- include formulae.html formula_path=formula_path formulae=depends_on_formula description="Depends on" -%}

{%- if c.depends_on.size > 0 -%}
    {%- assign requirements = "" -%}
    {%- if c.depends_on.macos -%}
        {%- capture requirements -%}macOS <strong>{{ c.depends_on.macos.first | join: " " }}</strong>{%- endcapture -%}
        {%- if c.depends_on.macos.size > 1 -%}
            {%- capture requirements -%}{{ requirements }} and <strong>{{ c.depends_on.macos[1] | join: " " }}</strong>{%- endcapture -%}
        {%- endif -%}
    {%- endif -%}
    {%- if c.depends_on.x11 -%}
        {%- if requirements.size > 0 -%}
            {%- assign requirements = requirements | append: ", " -%}
        {%- endif -%}
        {%- capture requirements -%}{{ requirements }}<strong>X11</strong>{%- endcapture -%}
    {%- endif -%}
    {%- if requirements.size > 0 -%}
<p>Requires: {{ requirements }}</p>
    {%- endif -%}
{%- endif -%}

{%- include casks.html casks=c.conflicts_with.cask description="Conflicts with casks" -%}
{%- assign conflicts_with_formula = c.conflicts_with.formula | where_exp: "f", "site.data.formula[f]" -%}
{%- include formulae.html formula_path=formula_path formulae=conflicts_with_formula description="Conflicts with" -%}

{%- if c.caveats -%}
{%- capture soft_indent %}
  {% endcapture -%}
{%- capture hard_indent %}
&nbsp;&nbsp;&nbsp;&nbsp;{% endcapture -%}
<table class="full-width">
    <tr>
        <td>{{ c.caveats | xml_escape | replace: soft_indent, hard_indent | newline_to_br }}</td>
    </tr>
</table>
{%- endif -%}
