---
layout: default
permalink: :title
---
{%- assign token = page.title -%}
{%- assign formula_path = "formula" -%}
{%- assign c = site.data.cask[token] -%}
<h2>{{ token }}</h2>

{%- include install_command.html item=token modifier=" --cask" %}
<p class="names">Name{%- if c.name.size > 1 -%}s{%- endif -%}:
{%- for name in c.name %}
    <strong>{{ name }}</strong>
    {%- unless forloop.last -%}, {% endunless %}
{%- endfor -%}
</p>
{%- if c.desc %}
<p class="desc">{{ c.desc }}</p>
{%- endif %}
<p class="homepage"><a href="{{ c.homepage }}">{{ c.homepage }}</a></p>

<p><a href="{{ site.baseurl }}/api/cask/{{ token }}.json"><code>/api/cask/{{ token }}.json</code> (JSON API)</a></p>
<p><a target="_blank" href="{{ site.taps.cask.remote }}/blob/{{ c.tap_git_head }}/Casks/{{ token }}.rb">Cask code</a> on GitHub</p>

<p>Current version: <a href="{{ c.url }}">{{ c.version }}</a></p>

{%- if c.depends_on.size > 0 -%}
    {%- include casks.html casks=c.depends_on.cask description="Depends on casks" -%}
    {%- include formulae.html formula_path=formula_path formulae=c.depends_on.formula description="Depends on" -%}
    {%- assign requirements = "" -%}
    {%- if c.depends_on.macos -%}
        {%- capture requirements -%}
            macOS {% for x in c.depends_on.macos -%}
                {{ x.first | xml_escape }} <strong>{{ c.depends_on.macos[x.first] | join: "</strong> / <strong>" }}</strong>
                {%- unless forloop.last %} and {% endunless -%}
            {%- endfor -%}
        {%- endcapture -%}
    {%- endif -%}
    {%- if c.depends_on.arch -%}
        {%- if requirements.size > 0 -%}
            {%- assign requirements = requirements | append: ", " -%}
        {%- endif -%}
        {%- capture requirements -%}
            {{ requirements }}{% for a in c.depends_on.arch -%}
                <strong>{{ a.type | capitalize }} {{ a.bits }}-bit</strong>
                {%- unless forloop.last %} or {% endunless -%}
            {%- endfor %} architecture
        {%- endcapture -%}
    {%- endif -%}
    {%- if c.depends_on.x11 -%}
        {%- if requirements.size > 0 -%}
            {%- assign requirements = requirements | append: ", " -%}
        {%- endif -%}
        {%- capture requirements -%}{{ requirements }}<strong><a href="{{ site.baseurl }}/cask/xquartz">X11</a></strong>{%- endcapture -%}
    {%- endif -%}
    {%- if requirements.size > 0 %}
<p>Requires: {{ requirements }}</p>
    {%- endif -%}
{%- endif -%}

{%- include casks.html casks=c.conflicts_with.cask description="Conflicts with casks" -%}

{%- assign conflicts_with_formula = c.conflicts_with.formula | where_exp: "f", "site.data.formula[f]" -%}
{%- include formulae.html formula_path=formula_path formulae=conflicts_with_formula description="Conflicts with" -%}

{%- if c.caveats -%}
{%- capture soft_indent %}
  {% endcapture -%}
{%- capture hard_indent %}
&nbsp;&nbsp;&nbsp;&nbsp;{% endcapture %}
<table class="full-width">
    <tr>
        <td>{{ c.caveats | xml_escape | replace: soft_indent, hard_indent | strip | newline_to_br }}</td>
    </tr>
</table>
{%- endif %}

<p>Analytics:</p>
<table>
{%- for interval in site.analytics.intervals -%}
    <tr>
        <th colspan="2">Installs ({{ interval.name }})</th>
    </tr>
    {%- for fa in site.data.analytics.cask-install.homebrew-cask[interval.path].formulae[token] -%}
    <tr>
        <td><code>{{ fa.cask }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- else -%}
    <tr>
        <td><code>{{ token }}</code></td>
        <td class="number-data">0</td>
    </tr>
    {%- endfor -%}
{%- endfor %}
</table>
