---
layout: default
permalink: :title
---
{%- assign token = page.title -%}
{%- assign data_token = token | remove: "@" | remove: "." | replace: "+", "_" -%}
{%- assign c = site.data.cask[data_token] -%}
<h2
    {%- if c.disabled %} class="disabled" title="This cask has been disabled since {{ c.disable_date | escape }} because it {{ site.reasons.cask[c.disable_reason] | default: c.disable_reason | escape }}"
    {%- elsif c.deprecated %} class="deprecated" title="This cask has been deprecated{% if c.deprecation_date %} since {{ c.deprecation_date | escape }}{% endif %} because it {{ site.reasons.cask[c.deprecation_reason] | default: c.deprecation_reason | escape }}"
    {%- endif -%}
    >
    {{ c.token | escape }}
    {%- if c.disabled %} (disabled)
    {%- elsif c.deprecated %} (deprecated)
    {%- endif -%}
</h2>

{%- if c.deprecated == false and c.deprecation_date -%}
    {%- include attribute.html key="Deprecation date" value=c.deprecation_date -%}
{%- endif -%}
{%- if c.disabled == false and c.disable_date -%}
    {%- include attribute.html key="Disable date" value=c.disable_date -%}
{%- endif -%}

{%- if c.disable_replacement_formula -%}
    {%- include replacement.html item=c.disable_replacement_formula r_type="formula" -%}
{%- elsif c.disable_replacement_cask -%}
    {%- include replacement.html item=c.disable_replacement_cask r_type="cask" -%}
{%- elsif c.deprecation_replacement_formula -%}
    {%- include replacement.html item=c.deprecation_replacement_formula r_type="formula" -%}
{%- elsif c.deprecation_replacement_cask -%}
    {%- include replacement.html item=c.deprecation_replacement_cask r_type="cask" -%}
{%- endif -%}

{%- include install_command.html item=c.token modifier=" --cask" %}
<p class="names">Name{%- if c.name.size > 1 -%}s{%- endif -%}:
{%- for name in c.name %}
    <strong>{{ name | escape }}</strong>
    {%- unless forloop.last -%}, {% endunless %}
{%- endfor -%}
</p>
{%- if c.desc %}
<p class="desc">{{ c.desc | escape }}</p>
{%- endif %}
<p class="homepage"><a rel="nofollow" href="{{ c.homepage | escape }}">{{ c.homepage | escape }}</a></p>

<p>Development: <a rel="nofollow" href="https://github.com/Homebrew/homebrew-cask/pulls?q=sort:updated-desc+is:pr+{{ c.token | uri_escape }}+in:title">Pull requests</a></p>

<p>Cask JSON API: <a rel="alternate" type="application/json" href="{{ site.baseurl }}/api/cask/{{ c.token | uri_escape }}.json"><code>/api/cask/{{ c.token | escape }}.json</code></a></p>

<p>Cask code: <a rel="alternate" target="_blank" href="{{ site.taps.cask.remote }}/blob/{{ c.tap_git_head | url_encode }}/{{ c.ruby_source_path | uri_escape }}"><code>{{ c.token | escape }}.rb</code></a> on GitHub</p>

<p>Current version: <a rel="nofollow" href="{{ c.url | escape }}" title="Download for {{ c.token | escape }}">{{ c.version | escape }}</a></p>

{%- if c.old_tokens.size > 0 %}
<p class="oldnames">Former tokens:
    {%- for oldtoken in c.old_tokens %}
        <strong>{{ oldtoken | escape }}</strong>
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif %}

{%- if c.depends_on.size > 0 -%}
    {%- include casks.html tokens=c.depends_on.cask description="Depends on casks" -%}
    {%- include formulae.html fnames=c.depends_on.formula description="Depends on formulae" -%}
    {%- assign requirements = "" -%}
    {%- if c.depends_on.macos -%}
        {%- capture requirements -%}
            macOS {% for x in c.depends_on.macos -%}
                {{ x.first | escape }} <strong>{{ c.depends_on.macos[x.first] | join: "</strong> / <strong>" }}</strong>
                {%- unless forloop.last %} and {% endunless -%}
            {%- endfor -%}
        {%- endcapture -%}
    {%- endif -%}
    {%- if c.depends_on.arch -%}
        {%- if requirements.size > 0 -%}
            {%- assign requirements = requirements | append: ", " -%}
        {%- endif -%}
        {%- capture requirements -%}
            {{ requirements }}{% for a in c.depends_on.arch -%}
                <strong>{{ a.type | capitalize }} {{ a.bits }}-bit</strong>
                {%- unless forloop.last %} or {% endunless -%}
            {%- endfor %} architecture
        {%- endcapture -%}
    {%- endif -%}
    {%- if requirements.size > 0 %}
<p>Requirements: {{ requirements }}</p>
    {%- endif -%}
{%- endif -%}

{%- if c.conflicts_with.size > 0 -%}
    {%- include casks.html tokens=c.conflicts_with.cask description="Conflicts with casks" -%}
{%- endif -%}

{%- if c.caveats -%}
{%- capture soft_indent %}
  {% endcapture -%}
{%- capture hard_indent %}
&nbsp;&nbsp;&nbsp;&nbsp;{% endcapture %}
<table class="full-width">
    <tr>
        <td>{{ c.caveats | escape | replace: soft_indent, hard_indent | strip | newline_to_br }}</td>
    </tr>
</table>
{%- endif %}

{%- assign supported_platforms = c.supported_platforms | where_exp: "platform", "platform contains 'arm64_' or platform contains '_linux' or site.intel_macos_platforms contains platform" -%}
{%- if c.variations.size > 0 and supported_platforms.size > 0 -%}

{%- assign arm64_platform_count = 0 -%}
{%- assign intel_platform_count = 0 -%}
{%- assign linux_platform_count = 0 -%}
{%- for platform in supported_platforms -%}
    {%- if platform contains "_linux" -%}
        {%- assign linux_platform_count = linux_platform_count | plus: 1 -%}
    {%- elsif platform contains "arm64_" -%}
        {%- assign arm64_platform_count = arm64_platform_count | plus: 1 -%}
    {%- else -%}
        {%- assign intel_platform_count = intel_platform_count | plus: 1 -%}
    {%- endif -%}
{%- endfor %}

<p>Supported platforms:</p>
<table class="full-width no-stack">
    {%- if arm64_platform_count > 0 %}
    <tbody>
    {%- assign subsequent = false -%}
    {%- for platform in supported_platforms -%}
        {%- if platform contains "arm64_" %}
            {%- if platform contains "_linux" -%}
                {%- continue -%}
            {%- endif -%}
        {%- assign variation = c.variations[platform] -%}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ arm64_platform_count }}" scope="rowgroup">Apple Silicon</th>
            {%- endunless %}
            <td style="text-transform:capitalize;">
                {{ platform | remove_first: "arm64_" | replace: "_", "&nbsp;" }}
                {%- assign subsequent = true -%}
            </td>
            <td>
                <a rel="nofollow" href="{{ variation.url | default: c.url | escape }}"
                   title="Download for {{ c.token | escape }} on {{ platform | escape }}">
                    {{ variation.version | default: c.version | escape }}
                </a>
            </td>
        </tr>
        {%- endif -%}
    {%- endfor %}
    </tbody>
    {%- endif %}
    {%- if intel_platform_count > 0 %}
    <tbody>
    {%- assign subsequent = false -%}
    {%- for platform in supported_platforms -%}
        {%- unless platform contains "arm64_" %}
            {%- if platform contains "_linux" -%}
                {%- continue -%}
            {%- endif -%}
        {%- assign variation = c.variations[platform] -%}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ intel_platform_count }}" scope="rowgroup">Intel</th>
            {%- endunless %}
            <td style="text-transform:capitalize;">
                {{ platform | replace: "x86_64", "64-bit" | replace: "_", "&nbsp;" }}
                {%- assign subsequent = true -%}
            </td>
            <td>
                <a rel="nofollow" href="{{ variation.url | default: c.url | escape }}"
                   title="Download for {{ c.token | escape }} on {{ platform | escape }}">
                    {{ variation.version | default: c.version | escape }}
                </a>
            </td>
        </tr>
        {%- endunless -%}
    {%- endfor -%}
    </tbody>
    {%- endif %}
    {%- if linux_platform_count > 0 %}
    <tbody>
    {%- assign subsequent = false -%}
    {%- for platform in supported_platforms -%}
        {%- if platform contains "_linux" %}
        {%- assign variation = c.variations[platform] -%}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ linux_platform_count }}" scope="rowgroup">Linux</th>
            {%- endunless %}
            <td>
                {{ platform | replace: "arm64", "ARM64" | replace: "_linux", "" }}
                {%- assign subsequent = true -%}
            </td>
            <td>
                <a rel="nofollow" href="{{ variation.url | default: c.url | escape }}"
                   title="Download for {{ c.token | escape }} on {{ platform | escape }}">
                    {{ variation.version | default: c.version | escape }}
                </a>
            </td>
        </tr>
        {%- endif -%}
    {%- endfor %}
    </tbody>
    {%- endif %}
</table>
{%- endif %}

<p>Analytics:</p>
<table class="no-stack">
    <tr>
        <td></td>
        {%- for interval in site.analytics.intervals -%}
        <th class="number-data">{{ interval.name }}</th>
        {%- endfor -%}
    </tr>
{%- assign variants = nil -%}
{%- for interval in site.analytics.intervals -%}
    {%- assign interval_variants = site.data.analytics.cask-install.homebrew-cask[interval.path].formulae[token] -%}
    {%- if interval_variants and interval_variants != empty -%}
        {%- assign variants = interval_variants -%}
    {%- endif -%}
{%- endfor -%}
{%- for variant in variants -%}
    <tr>
        <th>Installs
            {%- assign variant_suffix = variant.cask | remove_first: token | strip -%}
            {%- if variant_suffix != "" %} (<code>{{ variant_suffix | escape }}</code>){% endif -%}
        </th>
        {%- for interval in site.analytics.intervals -%}
            {%- assign match = site.data.analytics.cask-install.homebrew-cask[interval.path].formulae[token] | where: "cask", variant.cask | first -%}
        <td class="number-data">{% if site.data.analytics.cask-install.homebrew-cask[interval.path].total_items %}{{ match.count | default: "0" }}{% endif %}</td>
        {%- endfor -%}
    </tr>
{%- else -%}
    <tr>
        <th>Installs</th>
        {%- for interval in site.analytics.intervals -%}
        <td class="number-data">{% if site.data.analytics.cask-install.homebrew-cask[interval.path].total_items %}0{% endif %}</td>
        {%- endfor -%}
    </tr>
{%- endfor %}
</table>
