---
layout: default
permalink: :title
---
{%- assign full_name = page.title -%}
{%- assign formula_path = page.dir | remove: "/" -%}
{%- assign name = full_name | remove: "@" | remove: "." | replace: "+", "_" -%}
{%- assign f = site.data[formula_path][name] -%}
<h2>{{ f.name }}</h2>
{%- if f.aliases.size > 0 -%}
<p>
    Also known as:
    <strong>{{ f.aliases | join: "</strong>, <strong>" }}</strong>
</p>
{%- endif -%}
{%- if f.oldname -%}
<p>Formerly known as: <strong>{{ f.oldname }}</strong></p>
{%- endif -%}
<p>{{ f.desc | xml_escape }}</p>
<p>
    <a href="{{ f.homepage }}">{{ f.homepage }}</a>
</p>

<p><a href="{{ site.baseurl }}/api/{{ formula_path }}/{{ f.name }}.json"><code>/api/{{ formula_path }}/{{ f.name }}.json</code> (JSON API)</a></p>
{%- if formula_path == "formula-linux" -%}
<p><a target="_blank" href="https://github.com/Homebrew/linuxbrew-core/blob/master/Formula/{{ f.name }}.rb">Linux formula code</a> on GitHub</p>
{%- else -%}
<p><a target="_blank" href="https://github.com/Homebrew/homebrew-core/blob/master/Formula/{{ f.name }}.rb">Formula code</a> on GitHub</p>
{%- endif -%}

<p>Current versions:</p>
<table>
    <tr>
        <td>stable</td>
        <td>✅</td>
        <td>{{ f.versions.stable }}</td>
    </tr>
    {%- if f.versions.devel -%}
    <tr>
        <td>devel</td>
        <td>🛠</td>
        <td>{{ f.versions.stable }}</td>
    </tr>
    {%- endif -%}
    {%- if f.versions.head -%}
    <tr>
        <td>head</td>
        <td>⚡️</td>
        <td>{{ f.versions.head }}</td>
    </tr>
    {%- endif -%}
    {%- if f.versions.bottle -%}
    <tr>
        <td>bottle</td>
        <td>🍾</td>
        <td>
            {%- for b in f.bottle.stable.files -%}
            {{ b[0] }}
            {%- unless forloop.last -%}, {% endunless %}
            {%- endfor -%}
        </td>
    </tr>
    {%- endif -%}
</table>

{%- include formulae.html formula_path=formula_path formulae=f.versioned_formulae description="Other versions" -%}

{%- if f.revision > 0 -%}
<p>Revision: <strong>{{ f.revision }}</strong></p>
{%- endif -%}

{%- if f.keg_only -%}
<p>Keg-only</p>
{%- endif -%}

{%- if f.options.size > 0 -%}
<p>Options:</p>
<table>
    {%- for o in f.options -%}
    <tr>
        <td>{{ o.option }}</td>
        <td>{{ o.description}}</td>
    </tr>
    {%- endfor -%}
</table>
{%- endif -%}

{%- include formulae.html formula_path=formula_path formulae=f.dependencies description="Depends on" -%}
{%- include formulae.html formula_path=formula_path formulae=f.recommended_dependencies description="Depends on recommended" -%}
{%- include formulae.html formula_path=formula_path formulae=f.optional_dependencies description="Depends on optionally" -%}
{%- include formulae.html formula_path=formula_path formulae=f.build_dependencies description="Depends on when building from source" -%}

{%- if f.requirements.size > 0 -%}
<p>
    Requires:
    {% for r in f.requirements %}
        <strong>:{{ r.name }}</strong>
        {%- unless forloop.last -%}, {% endunless %}
    {%- endfor -%}
</p>
{%- endif -%}

{%- if f.conflicts_with.size > 0 -%}
<p>
    Conflicts with:
    <strong>{{ f.conflicts_with | join: "</strong>,<strong>" }}</strong>
</p>
{%- endif -%}

{%- if f.caveats -%}
{%- capture soft_indent %}
  {% endcapture -%}
{%- capture hard_indent %}
&nbsp;&nbsp;&nbsp;&nbsp;{% endcapture -%}
<table class="full-width">
    <tr>
        <td>{{ f.caveats | xml_escape | replace: soft_indent, hard_indent | newline_to_br }}</td>
    </tr>
</table>
{%- endif -%}

{%- if formula_path == "formula-linux" -%}
{%- assign analytics_path = "analytics-linux" -%}
{%- assign analytics_data_source = "linuxbrew-core" -%}
{%- else -%}
{% assign analytics_path = "analytics" -%}
{%- assign analytics_data_source = "homebrew-core" -%}
{%- endif -%}

{%- if site.data[analytics_path].install[analytics_data_source]["30d"].formulae[full_name].size > 0 -%}
<p>Analytics:</p>
<table>
    <tr>
        <th colspan="2">Installs (30 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install[analytics_data_source]["30d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}

    <tr>
        <th colspan="2">Installs on Request (30 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install-on-request[analytics_data_source]["30d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}

    <tr>
        <th colspan="2">Build Errors (30 days)</th>
    </tr>

    {%- if site.data[analytics_path].build-error[analytics_data_source]["30d"].formulae[full_name].size > 0 -%}
    {%- for fa in site.data[analytics_path].build-error[analytics_data_source]["30d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}
    {%- else -%}
    <tr>
        <td><code>{{ full_name }}</code></td>
        <td class="number-data">0</td>
    </tr>
    {%- endif -%}


    <tr>
        <th colspan="2">Installs (90 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install[analytics_data_source]["90d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}

    <tr>
        <th colspan="2">Installs on Request (90 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install-on-request[analytics_data_source]["90d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}

    <tr>
        <th colspan="2">Installs (365 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install[analytics_data_source]["365d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}

    <tr>
        <th colspan="2">Installs on Request (365 days)</th>
    </tr>

    {%- for fa in site.data[analytics_path].install-on-request[analytics_data_source]["365d"].formulae[full_name] -%}
    <tr>
        <td><code>{{ fa.formula }}</code></td>
        <td class="number-data">{{ fa.count }}</td>
    </tr>
    {%- endfor -%}
</table>
{%- endif -%}
