---
layout: default
permalink: :title
---
{%- assign fname = page.title -%}
{%- assign data_fname = fname | remove: "@" | remove: "." | replace: "+", "_" -%}
{%- assign f = site.data.formula[data_fname] -%}
<h2
    {%- if f.disabled %} class="disabled" title="This formula has been disabled since {{ f.disable_date | escape }} because it {{ site.reasons.formula[f.disable_reason] | default: f.disable_reason | escape }}"
    {%- elsif f.deprecated %} class="deprecated" title="This formula has been deprecated{% if f.deprecation_date %} since {{ f.deprecation_date | escape }}{% endif %} because it {{ site.reasons.formula[f.deprecation_reason] | default: f.deprecation_reason | escape }}"
    {%- endif -%}
    >
    {{ f.name | escape }}
    {%- if f.disabled %} (disabled)
    {%- elsif f.deprecated %} (deprecated)
    {%- endif -%}
</h2>

{%- if f.deprecated == false and f.deprecation_date -%}
    {%- include attribute.html key="Deprecation date" value=f.deprecation_date -%}
{%- endif -%}
{%- if f.disabled == false and f.disable_date -%}
    {%- include attribute.html key="Disable date" value=f.disable_date -%}
{%- endif -%}

{%- if f.disable_replacement_formula -%}
    {%- include replacement.html item=f.disable_replacement_formula r_type="formula" -%}
{%- elsif f.disable_replacement_cask -%}
    {%- include replacement.html item=f.disable_replacement_cask r_type="cask" -%}
{%- elsif f.deprecation_replacement_formula -%}
    {%- include replacement.html item=f.deprecation_replacement_formula r_type="formula" -%}
{%- elsif f.deprecation_replacement_cask -%}
    {%- include replacement.html item=f.deprecation_replacement_cask r_type="cask" -%}
{%- endif -%}

{%- include install_command.html item=f.name %}
{%- if f.aliases.size > 0 %}
<p class="aliases">Also known as:
    {%- for alias in f.aliases %}
        <strong>{{ alias | escape }}</strong>
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif -%}
{%- if f.oldnames.size > 0 %}
<p class="oldnames">Formerly known as:
    {%- for oldname in f.oldnames %}
        <strong>{{ oldname | escape }}</strong>
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif %}
<p class="desc">{{ f.desc | escape }}</p>
<p class="homepage"><a rel="nofollow" href="{{ f.homepage | escape }}">{{ f.homepage | escape }}</a></p>

{%- if f.license.size > 0 %}
<p>License:
    {%- for license in f.license %}
        <strong>{{ license | replace: "_", " " | escape }}</strong>
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif %}

<p>Development: <a rel="nofollow" href="https://github.com/Homebrew/homebrew-core/pulls?q=sort:updated-desc+is:pr+{{ f.name | uri_escape }}+in:title">Pull requests</a></p>

<p>Formula JSON API: <a rel="alternate" type="application/json" href="{{ site.baseurl }}/api/formula/{{ f.name | uri_escape }}.json"><code>/api/formula/{{ f.name | escape }}.json</code></a></p>

<p>Formula code: <a rel="alternate" target="_blank" href="{{ site.taps.core.remote }}/blob/{{ f.tap_git_head | url_encode }}/{{ f.ruby_source_path | uri_escape }}"><code>{{ f.name | escape }}.rb</code></a> on GitHub</p>

<p>Bottle (binary package)
{%- assign bottles = false -%}
{%- if f.bottle_disabled %} not required, support provided for all supported Homebrew platforms.
{%- elsif f.bottle.stable %} installation support provided
    {%- if f.bottle.stable.files.all -%}.
    {%- else -%}
        {%- assign bottles = true %} for:
    {%- endif -%}
{%- else %} not available on this platform.
{%- endif -%}</p>

{%- if bottles -%}
    {%- assign arm64_bottle_count = 0 -%}
    {%- assign intel_bottle_count = 0 -%}
    {%- assign linux_bottle_count = 0 -%}
    {%- for b in f.bottle.stable.files -%}
        {%- if b[0] contains "arm64_" -%}
            {%- if b[0] contains "_linux" -%}
                {%- assign linux_bottle_count = linux_bottle_count | plus: 1 -%}
            {%- else -%}
                {%- assign arm64_bottle_count = arm64_bottle_count | plus: 1 -%}
            {%- endif -%}
        {%- elsif b[0] contains "_linux" -%}
            {%- assign linux_bottle_count = linux_bottle_count | plus: 1 -%}
        {%- else -%}
            {%- assign intel_bottle_count = intel_bottle_count | plus: 1 -%}
        {%- endif -%}
    {%- endfor %}
<table class="no-stack">
    {%- assign subsequent = false -%}
    {%- for b in f.bottle.stable.files -%}
        {%- if b[0] contains "arm64_" %}
            {%- if b[0] contains "_linux" -%}
                {%- continue -%}
            {%- endif -%}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ arm64_bottle_count }}" scope="rowgroup">macOS on<br>Apple Silicon</th>
            {%- endunless %}
            <td style="text-transform:capitalize;">
                {{ b[0] | remove_first: "arm64_" | replace: "_", "&nbsp;" }}
                {%- assign subsequent = true -%}
            </td>
            <td>✅</td>
        </tr>
        {%- endif -%}
    {%- endfor %}
    {%- if arm64_bottle_count > 0 and intel_bottle_count > 0 %}
    <tr><th colspan="3"></th></tr>
    {%- endif %}
    {%- assign subsequent = false -%}
    {%- for b in f.bottle.stable.files -%}
        {%- unless b[0] contains "arm64_" %}
            {%- if b[0] contains "_linux" -%}
                {%- continue -%}
            {%- endif -%}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ intel_bottle_count }}" scope="rowgroup">macOS on<br>Intel</th>
            {%- endunless %}
            <td style="text-transform:capitalize;">
                {{ b[0] | replace: "_", "&nbsp;" }}
                {%- assign subsequent = true -%}
            </td>
            <td>✅</td>
        </tr>
        {%- endunless -%}
    {%- endfor -%}
    {%- assign macos_bottle_count = arm64_bottle_count | plus: intel_bottle_count %}
    {%- if macos_bottle_count > 0 and linux_bottle_count > 0 %}
    <tr><th colspan="3"></th></tr>
    {%- endif %}
    {%- assign subsequent = false -%}
    {%- for b in f.bottle.stable.files -%}
        {%- if b[0] contains "_linux" %}
        <tr>
            {%- unless subsequent -%}
            <th rowspan="{{ linux_bottle_count }}" scope="rowgroup">Linux</th>
            {%- endunless %}
            <td>
                {{ b[0] | replace: "arm64", "ARM64" | replace: "_linux", "" }}
                {%- assign subsequent = true -%}
            </td>
            <td>✅</td>
        </tr>
        {%- endif -%}
    {%- endfor -%}
</table>
{%- endif %}

<p>Current versions:</p>
<table class="no-stack">
    <tr>
        <td><strong>stable</strong></td>
        <td>✅</td>
        <td>{{ f.versions.stable | escape }}</td>
    </tr>
{%- if f.versions.head %}
    <tr>
        <td><strong>head</strong></td>
        <td>⚡️</td>
        <td>{{ f.versions.head | escape }}</td>
    </tr>
{%- endif %}
</table>

{%- include formulae.html fnames=f.versioned_formulae description="Other versions" -%}

{%- if f.revision > 0 -%}
    {%- include attribute.html key="Revision" value=f.revision -%}
{%- endif -%}

{%- if f.keg_only %}
<p>Keg-only
    {%- if f.keg_only_reason.explanation and f.keg_only_reason.explanation != empty %} because {{ f.keg_only_reason.explanation | escape }}
    {%- else -%}
        {%- case f.keg_only_reason.reason -%}
            {%- when ":versioned_formula" %} because this is an alternate version of another formula
            {%- when ":provided_by_macos" %} because macOS already provides this software
            {%- when ":shadowed_by_macos" %} because macOS provides similar software
            {%- when nil -%}
            {%- else %} because {{ f.keg_only_reason.reason | remove_first: ":" | replace: "_", " " | escape }}
        {%- endcase -%}
    {%- endif -%}.
</p>
{%- endif -%}

{%- if f.options.size > 0 %}
<p>Options:</p>
<table>
    {%- for o in f.options -%}
    <tr>
        <td>{{ o.option | escape }}</td>
        <td>{{ o.description | escape }}</td>
    </tr>
    {%- endfor %}
</table>
{%- endif -%}

{%- include formulae.html fnames=f.dependencies description="Depends on" -%}
{%- include formulae.html fnames=f.recommended_dependencies description="Depends on recommended" -%}
{%- include formulae.html fnames=f.optional_dependencies description="Depends on optionally" -%}
{%- include formulae.html fnames=f.build_dependencies description="Depends on when building from source" -%}

{%- if f.uses_from_macos.size > 0 %}
<p>Uses from macOS:
    {%- for dependency in f.uses_from_macos -%}
        {%- assign dependency_name = dependency -%}
        {%- assign dependency_type = nil -%}
        {%- if dependency.first -%}
            {%- assign dependency_name = dependency.first[0] -%}
            {%- assign dependency_type = dependency.first[1] -%}
        {%- endif %}
        <strong>{{ dependency_name | escape }}</strong>
        {%- if dependency_type %} ({{ dependency_type | join: ", " | escape }}){%- endif -%}
        {%- assign dependency_bounds = f.uses_from_macos_bounds[forloop.index0] -%}
        {%- if dependency_bounds.since %} (since macOS {{ dependency_bounds.since | replace: "_", " " | capitalize | escape }}){%- endif -%}
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif -%}

{%- if f.requirements.size > 0 %}
<p>Requires:
    {%- for r in f.requirements %}
    <strong>
        {%- capture requirement -%}
            {%- case r.name -%}
                {%- when "arch" -%}
                    {{ r.version | escape }}
                {%- when "macos" or "maximum_macos" -%}
                    macOS
                {%- else -%}
                    {{ r.name | capitalize | escape }}
            {%- endcase -%}
        {%- endcapture -%}
        {%- if r.cask -%}
            {%- unless r.cask contains "/" -%}
                <a href="{{ site.baseurl }}/cask/{{ r.cask | uri_escape }}">{{ requirement }}</a>
            {%- else -%}
                {{ requirement }}
            {%- endunless -%}
        {%- else -%}
            {{ requirement }}
        {%- endif -%}
    </strong>
        {%- if r.version -%}
            {%- if r.name == "arch" %} architecture
            {%- elsif r.name contains "maximum" %} &lt;= {{ r.version | escape }}
            {%- else %} &gt;= {{ r.version | escape }}
            {%- endif -%}
        {%- endif -%}
        {%- for c in r.contexts -%}
            {%- if forloop.first %} ( {%- endif -%}
            {{ c | escape }}
            {%- unless forloop.last -%}, {% endunless -%}
            {%- if forloop.last -%} ) {%- endif -%}
        {%- endfor -%}
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif -%}

{%- if f.conflicts_with.size > 0 %}
<p>Conflicts with:
    {%- for conflict in f.conflicts_with %}
        <strong><a href="{{ site.baseurl }}/formula/{{ conflict | uri_escape }}">{{ conflict | escape }}</a></strong>
        {%- assign conflict_reason = f.conflicts_with_reasons[forloop.index0] -%}
        {%- if conflict_reason %} (because {{ conflict_reason | escape }}){%- endif -%}
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif -%}

{%- if f.executables.size > 0 %}
<p>Binaries:
    {%- for executable in f.executables %}
        <code>{{ executable | escape }}</code>
        {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %}
</p>
{%- endif -%}

{%- if f.service %}
<p>Service:</p>
<table>
    <tr>
        <td>Start now and at {% if f.service.require_root %}startup{% else %}login{% endif %}:</td>
        <td><code>{% if f.service.require_root %}sudo {% endif %}brew services start {{ f.name | escape }}</code></td>
    </tr>
    {%- assign service_run = f.service.run.macos | default: f.service.run.linux | default: f.service.run -%}
    {%- if service_run %}
    <tr>
        <td>Run directly:</td>
        <td><code>{{ service_run | join: " " | escape }}</code></td>
    </tr>
    {%- endif %}
</table>
{%- endif -%}

{%- if f.caveats -%}
{%- capture soft_indent %}
  {% endcapture -%}
{%- capture hard_indent %}
&nbsp;&nbsp;&nbsp;&nbsp;{% endcapture %}
<table class="full-width">
    <tr>
        <td>{{ f.caveats | escape | replace: soft_indent, hard_indent | strip | newline_to_br }}</td>
    </tr>
</table>
{%- endif -%}

{%- if f.vulnerabilities and f.vulnerabilities.open.size > 0 %}
<p>Known vulnerabilities in the current version:</p>
<table class="full-width">
    {%- for v in f.vulnerabilities.open -%}
    {%- assign vid = v.upstream[0] | default: v.id -%}
    <tr>
        <td>
            <a rel="nofollow" href="https://osv.dev/vulnerability/{{ vid | uri_escape }}">{{ vid | escape }}</a>
            {%- if v.severity %} ({{ v.severity | escape }}){%- endif -%}
        </td>
        <td>{{ v.summary | truncate: 100 | escape }}</td>
    </tr>
    {%- endfor %}
</table>
<p><small>Data from <a href="https://github.com/Homebrew/advisory-database">Homebrew/advisory-database</a>. Run <code>brew vulns {{ f.name | escape }}</code> for a live check.</small></p>
{%- endif -%}

{%- if f.vulnerabilities and f.vulnerabilities.patched.size > 0 %}
<p>Homebrew ships patches for:
    {%- for v in f.vulnerabilities.patched -%}
    {%- assign vid = v.upstream[0] | default: v.id %}
    <a rel="nofollow" href="https://osv.dev/vulnerability/{{ vid | uri_escape }}">{{ vid | escape }}</a>
    {%- unless forloop.last -%}, {% endunless -%}
    {%- endfor -%}.
</p>
{%- endif %}

<p>Analytics:</p>
<table class="no-stack">
    <tr>
        <td></td>
        {%- for interval in site.analytics.intervals -%}
        <th class="number-data">{{ interval.name }}</th>
        {%- endfor -%}
    </tr>
{%- for category in site.analytics.categories.formulae -%}
    {%- assign variants = nil -%}
    {%- for interval in site.analytics.intervals -%}
        {%- assign interval_variants = site.data.analytics[category.path].homebrew-core[interval.path].formulae[fname] -%}
        {%- if interval_variants and interval_variants != empty -%}
            {%- assign variants = interval_variants -%}
        {%- endif -%}
    {%- endfor -%}
    {%- for variant in variants -%}
    <tr>
        <th>{{ category.name }}
            {%- assign variant_suffix = variant.formula | remove_first: fname | strip -%}
            {%- if variant_suffix != "" %} (<code>{{ variant_suffix | escape }}</code>){% endif -%}
        </th>
        {%- for interval in site.analytics.intervals -%}
            {%- assign match = site.data.analytics[category.path].homebrew-core[interval.path].formulae[fname] | where: "formula", variant.formula | first -%}
        <td class="number-data">{% if site.data.analytics[category.path].homebrew-core[interval.path].total_items %}{{ match.count | default: "0" }}{% endif %}</td>
        {%- endfor -%}
    </tr>
    {%- else -%}
    <tr>
        <th>{{ category.name }}</th>
        {%- for interval in site.analytics.intervals -%}
        <td class="number-data">{% if site.data.analytics[category.path].homebrew-core[interval.path].total_items %}0{% endif %}</td>
        {%- endfor -%}
    </tr>
    {%- endfor -%}
{%- endfor %}
</table>
