---
layout: base
---
{% assign t = site.data.locales[page.lang][page.lang] -%}
<div id="information">
  <ul>
    <li>
      <section class="group row">
        <h2 id="install">{{ t.pagecontent.install.install }}</h2>
        <br>
        <div class="copyable install-command">
{% highlight bash -%}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{%- endhighlight %}
        </div>
        <br>
        <br>
        <div class="col-1">
          <p>{{ t.pagecontent.install.paste }} {{ t.pagecontent.install.what }}</p>
        </div>
        <div class="col-2">
          <p>{{ t.pagecontent.install.pkginstaller }} {{ t.pagecontent.install.githubrelease }}</p>
        </div>
      </section>
    </li>

    <li>
      <section class="group row">
       <h2 id="question">{{ t.pagecontent.question }}</h2>
       <br>
        <div class="col-1">
          <p>{{ t.pagecontent.what }}</p>
          <figure class="install-demo">
            <img src="{{ "/assets/img/brew-install.gif" | relative_url }}" alt="Homebrew install command running in a terminal" decoding="async">
          </figure>
        </div>
        <div class="col-2 example-panel">
          <p>{{ t.pagecontent.how }}</p>
{% highlight bash -%}
$ brew install ffmpeg firefox
$ find $(brew --cellar)/ffmpeg
/opt/homebrew/Cellar/ffmpeg/8.1.1/bin/ffmpeg
/opt/homebrew/Cellar/ffmpeg/8.1.1/share/man/man1/ffmpeg.1
$ ls -l $(brew --prefix)/bin
/opt/homebrew/bin/ffmpeg -> ../Cellar/ffmpeg/8.1.1/bin/ffmpeg
$ find $(brew --caskroom)/firefox
/opt/homebrew/Caskroom/firefox/151.0.3/Firefox.app
$ ls /Applications
Firefox.app
{%- endhighlight %}
        </div>
      </section>
    </li>

    <li>
      <div class="group row">
        <h2 id="homebrew-formulae">{{ t.pagecontent.formulae_title }}</h2>
        <div class="col-1 package-copy">
          <p>{{ t.pagecontent.createpackages }}</p>
          <p>{{ t.pagecontent.formulae }}</p>
          <p>{{ t.pagecontent.formulae_help }}</p>
          <p>{{ t.pagecontent.taps }}</p>
        </div>
        <div class="col-2">
{% highlight bash -%}
$ brew create https://ffmpeg.org/releases/ffmpeg-8.1.1.tar.xz
Created .../homebrew-core/Formula/ffmpeg.rb
{%- endhighlight %}
{% highlight ruby -%}
class Ffmpeg < Formula
  desc "Play, record, convert, and stream select audio and video codecs"
  homepage "https://ffmpeg.org/"
  url "https://ffmpeg.org/releases/ffmpeg-8.1.1.tar.xz"
  sha256 "b6863adde98898f42602017462871b5f6333e65aec803fdd7a6308639c52edf3"
  license "GPL-3.0-or-later"

  def install
    system "./configure", "--prefix=#{prefix}", "--enable-shared"
    system "make", "install"
  end
end
{%- endhighlight %}
        </div>
      </div>
    </li>

    <li>
      <div class="group row">
        <div class="col-1 package-copy">
          <p>{{ t.pagecontent.casks }}</p>
          <p>{{ t.pagecontent.casks_help }}</p>
        </div>
        <div class="col-2">
{% highlight bash -%}
$ brew create --cask https://download-installer.cdn.mozilla.net/pub/firefox/releases/151.0.3/mac/en-US/Firefox%20151.0.3.dmg
Created .../homebrew-cask/Casks/firefox.rb
{%- endhighlight %}
{% highlight ruby -%}
cask "firefox" do
  version "151.0.3"
  sha256 "60d5cb29412b161c76ecc58f3f8a960cd0048081cf84c6fe91579f1957564277"

  url "https://download-installer.cdn.mozilla.net/pub/firefox/releases/#{version}/mac/en-US/Firefox%20#{version}.dmg"
  name "Mozilla Firefox"
  desc "Web browser"
  homepage "https://www.mozilla.org/firefox/"
end
{%- endhighlight %}
        </div>
      </div>
    </li>

    <li>
      <section class="group row">
        <h2 id="homebrew-bundle">{{ t.pagecontent.bundle_title }}</h2>
        <div class="col-1">
          <p>{{ t.pagecontent.bundle }}</p>
          <p>{{ t.pagecontent.bundle_types }}</p>
        </div>
        <div class="col-2">
{% highlight bash -%}
$ cat Brewfile
brew "ffmpeg"
cask "firefox"
{%- endhighlight %}
{% highlight bash -%}
$ brew bundle
Installing ffmpeg
Installing firefox
`brew bundle` complete! 2 Brewfile dependencies now installed.
{%- endhighlight %}
        </div>
      </section>
    </li>

    <li>
      <section class="group row donate-section">
        <h2 id="homebrew-donate">{{ t.pagecontent.doc.donate }}</h2>
        <div>
          {% if t.pagecontent.doc.donate_summary -%}
            <p>{{ t.pagecontent.doc.donate_summary }}</p>
          {% endif -%}
        </div>
      </section>
    </li>

    <li>
      <section class="group row docs-section">
        <h2 id="resources">{% if t.pagecontent.doc.resources %}{{ t.pagecontent.doc.resources }}{% else %}{{ t.pagecontent.doc.further }}{% endif %}</h2>
        <div class="docs-grid">
          <article class="doc-card">
            <h3>{{ t.pagecontent.doc.documentation }}</h3>
            <p>{{ t.pagecontent.doc.man }}</p>
            {% if t.pagecontent.doc.further_summary -%}
              <p>{{ t.pagecontent.doc.further_summary }}</p>
            {% endif -%}
          </article>
          <article class="doc-card">
            <h3 id="homebrew-blog">{{ t.pagecontent.doc.blog }}</h3>
            {% if t.pagecontent.doc.blog_summary -%}
              <p>{{ t.pagecontent.doc.blog_summary }}</p>
            {% endif -%}
            {% assign latest_post = site.posts.first -%}
            {% if latest_post -%}
              <p class="latest-post"><span>Latest post</span><a href="{{ latest_post.url | relative_url }}">Homebrew {{ latest_post.title }}</a></p>
            {% endif -%}
          </article>
          <article class="doc-card">
            <h3 id="homebrew-community">{{ t.pagecontent.doc.community }}</h3>
            {% if t.pagecontent.doc.community_summary -%}
              <p>{{ t.pagecontent.doc.community_summary }}</p>
            {% endif -%}
          </article>
          <article class="doc-card">
            <h3 id="homebrew-packages">{{ t.pagecontent.doc.formulae }}</h3>
            {% if t.pagecontent.doc.formulae_summary -%}
              <p>{{ t.pagecontent.doc.formulae_summary }}</p>
            {% endif -%}
          </article>
          <article class="doc-card">
            <h3 id="analytics-data">{{ t.pagecontent.doc.analytics }}</h3>
            {% if t.pagecontent.doc.analytics_summary -%}
              <p>{{ t.pagecontent.doc.analytics_summary }}</p>
            {% endif -%}
          </article>
          <article class="doc-card">
            <h3 id="homebrew-social">{{ t.pagecontent.doc.social }}</h3>
            {% if t.pagecontent.doc.social_summary -%}
              <p>{{ t.pagecontent.doc.social_summary }}</p>
            {% endif -%}
          </article>
        </div>
      </section>
    </li>

    <li>
      <footer class="group row credits">
        <p>{% if t.pagecontent.foot.maintainers %}{{ t.pagecontent.foot.maintainers }}<br>{% endif -%}{{ t.pagecontent.foot.page }}<br>{{ t.pagecontent.foot.code }}{% if t.pagecontent.foot.translation -%}<br>{{ t.pagecontent.foot.translation }}{% endif -%}</p>
      </footer>
    </li>
  </ul>
</div>
